{% extends 'base.html' %} {% block content %}

<main>
  <div class="border-bottom border-primary border-1 opacity-1"></div>

  <section class="pt-0">
    <div class="container position-relative" data-sticky-container>
      <div class="row">
        <div class="col-lg-8 mb-5">
          <figure class="my-5">
            <blockquote class="blockquote">
              <h2>{{post.name}}</h2>
            </blockquote>
            <figcaption class="blockquote-footer">
              <a href="#" class="badge text-bg-danger mb-2">
                {{ post.category }}
              </a>
            </figcaption>
          </figure>

          <h5>{{ post.summary }}</h5>

          {% if post.img %}
          <figure class="figure mt-4 mb-5">
            <img class="rounded" src="{{ post.img.url }}" alt="Image" />
          </figure>
          {% endif %} {% if post.audio %}
          <h6 class="mt-2">Post Podcast</h6>
          <div class="d-flex align-items-center border rounded mb-4">
            <div class="w-100">
              <div class="player-wrapper bg-light rounded">
                <div tabindex="0"
                  class="plyr plyr--full-ui plyr--audio plyr--html5 plyr--paused plyr--stopped">
                  <audio class="player-audio" crossorigin>
                    <source src="{{ post.audio.url }}" type="audio/mp3" />
                  </audio>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          <p class="mb-5">{{ post.text }}</p>

          <div class="row g-0 mt-2">
            {% if oldingi_post %}
            <div
              class="col-sm-6 bg-primary bg-opacity-10 p-4 position-relative border-end border-1 rounded-start">
              <span><i class="bi bi-arrow-left me-3 rtl-flip"></i> Oldingi
                post</span>
              <h5 class="m-0">
                <a href="{% url 'blog:post_detail' oldingi_post.id %}"
                  class="stretched-link btn-link text-reset">
                  {{ oldingi_post.name }}
                </a>
              </h5>
            </div>
            {% endif %}
            {% if keyingi_post %}
            <div
              class="col-sm-6 bg-primary bg-opacity-10 p-4 position-relative text-sm-end rounded-end">
              <span>Keyingi post<i
                  class="bi bi-arrow-right ms-3 rtl-flip"></i></span>
              <h5 class="m-0">
                <a href="{% url 'blog:post_detail' keyingi_post.id %}"
                  class="stretched-link btn-link text-reset">
                  {{ keyingi_post.name }}
                </a>
              </h5>
            </div>
            {% endif %}
          </div>

          <hr/>

          <div class="d-flex py-4">
            {% if post.author.avatar %}
            <a href="#">
              <div class="avatar avatar-xxl me-4 mb-5">
                <img class="avatar-img rounded-circle"
                  src="{{ post.author.avatar.url }}" alt="avatar" />
              </div>
            </a>
            {% endif %}

            <div>
              <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                  <h4 class="m-0">
                    <a href="#" class="text-reset">
                      {{post.author.full_name}}
                    </a>
                  </h4>
                  <small>{{ post.author.job }}</small>
                </div>
                <a href="#" class="btn btn-xs btn-primary-soft mb-5">Maqolalarni
                  ko'rish</a>
              </div>
              <p class="my-2">{{ post.author.bio }}</p>
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link ps-0 pe-2 fs-5" href="#"><i
                      class="fab fa-facebook-square"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-2 fs-5" href="#"><i
                      class="fab fa-twitter-square"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-2 fs-5" href="#"><i
                      class="fab fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <hr />

          <div>
            <h3>{{ comments_count }} comments</h3>

            {% for comment in comments %}
            <div class="my-4 d-flex ps-2 ps-md-3">
              {% if comment.user %}
              <img class="avatar avatar-md rounded-circle float-start me-3"
                src="{{ comment.user.avatar.url}}"
                alt="avatar" />
              {% endif %}
              <div>
                <div class="mb-2">
                  <h5 class="m-0">{{ comment.user.full_name}}</h5>
                  <span class="me-3 small">{{ comment.created_at }}</span>
                  <a href="#form-reply" style="cursor: pointer"
                    data-comment-id="{{ comment.id }}"
                    onclick="showReplyForm(this)"
                    class="text-body fw-normal">Reply</a>
                </div>
                <p>{{ comment.body}}</p>
              </div>
            </div>
            {% for reply in comment.getReplies.all %}
            <div class="my-4 d-flex ps-3 ps-md-5">
              <img class="avatar avatar-md rounded-circle float-start me-3"
                src="{{ post.author.avatar.url }}"
                alt="avatar" />
              <div>
                <div class="mb-2">
                  <h5 class="m-0">
                    {{ reply.author.full_name }}
                  </h5>
                  <span class="me-3 small">{{ reply.created_at }}</span>
                </div>
                <p>{{ reply.body }}</p>
              </div>
            </div>
            {% endfor %} {% endfor %}
          </div>

          {% if request.user.is_authenticated %}
          <div id="form-reply">
            <h3>Comment qoldiring</h3>
            <form class="row g-3 mt-2" method="post">
              {% csrf_token %}
              <div class="col-12">
                <input type="hidden" name="parent" id="parent-comment-id" />
                {{ comment_form.body }}
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">
                  Post comment
                </button>
              </div>
            </form>
          </div>
          {% else %}
          <h5>Iltimos, fikr qoldirish uchun tizimga kiring!</h5>
          {% endif %}
        </div>
        <div class="col-lg-3">
          <div data-sticky data-margin-top="80" data-sticky-for="991">
            <h4>Share this article</h4>
            <ul class="nav text-white-force">
              <li class="nav-item">
                <a
                  class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-facebook"
                  href="#">
                  <i class="fab fa-facebook-square align-middle"></i>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-twitter"
                  href="#">
                  <i class="fab fa-twitter-square align-middle"></i>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-linkedin"
                  href="#">
                  <i class="fab fa-linkedin align-middle"></i>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-pinterest"
                  href="#">
                  <i class="fab fa-pinterest align-middle"></i>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-primary"
                  href="#">
                  <i class="far fa-envelope align-middle"></i>
                </a>
              </li>
            </ul>
            <ul class="list-inline text-primary-hover mt-0 mt-lg-3">
              {% for i in trends %}
              <li class="list-inline-item">
                <a class="text-body" href="#">#{{ i.hashtag }}</a>
              </li>
              {% endfor %}
            </ul>
            <div class="mt-4">
              <a href="#" class="d-block card-img-flash">
                <img src="assets/images/adv.png" alt />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  function showReplyForm(element) {
    var commentId = element.getAttribute("data-comment-id");
    document.getElementById("parent-comment-id").value = commentId;
  }
</script>

{% endblock %}