{% extends "base.html" %} 
{% block content %}

<section class="py-4">
  <div class="container">
    
    <div class="row g-4">
      <!-- Profile cover and info START -->
      <div class="col-12">
        {% if message %}
        <div class="alert alert-warning py-2 rounded-3 mb-2 m-0 bg-primary border-0 rounded-0 alert-dismissible fade show text-center overflow-hidden" role="alert">
          <!-- SVG shape START -->
          <figure class="position-absolute top-50 start-50 translate-middle">
            <svg width="1848" height="481" viewBox="0 0 1848.9 481.8" xmlns="http://www.w3.org/2000/svg">
              <path class="fill-success" d="m779.4 251c-10.3-11.5-19.9-23.8-29.4-36.1-9-11.6-18.4-22.8-27.1-34.7-15.3-21.2-30.2-45.8-54.8-53.3-10.5-3.2-21.6-3.2-30.6 2.5-7.6 4.8-13 12.6-17.3 20.9-10.8 20.6-16.1 44.7-24.6 66.7-7.9 20.2-19.4 38.6-33.8 54.3-14.7 16.2-31.7 30-50.4 41-15.9 9.4-33.4 17.2-52 19.3-18.4 2-38-2.5-56.5-6.2-22.4-4.4-45.1-9.7-67.6-10.9-9.8-0.5-19.8-0.3-29.1 2.3-9.8 2.8-18.7 8.6-26.6 15.2-17.3 14.5-30.2 34.4-43.7 52.9-12.9 17.6-26.8 34.9-45.4 45.4-19.5 11-42.6 12.1-65 6.6-52.3-13.1-93.8-56.5-127.9-101.5-8.8-11.6-17.3-23.4-25.6-35.4-0.6-0.9-1.1-1.8-1.6-2.7-1.1-2.4-0.9-2.6 0.6-1.2 1 0.9 1.9 1.9 2.7 3 35.3 47.4 71.5 98.5 123.2 123.9 22.8 11.2 48.2 17.2 71.7 12.2 23-5 40.6-21.2 55.3-39.7 24.5-30.7 46.5-75.6 87.1-83 19.5-3.5 40.7 0.1 60.6 3.7 21.2 3.9 42.3 9.1 63.6 11.7 17.8 2.3 35.8-0.1 52.2-7 20-8.1 38.4-20.2 54.8-34.6 16.2-14.1 31-30.7 41.8-50.4 11.1-20.2 17-43.7 24.9-65.7 6.1-16.9 13.8-36.2 29.3-44.5 16.1-8.6 37.3-1.9 52.3 10.6 18.7 15.6 31.2 39.2 46.7 58.2"/>
              <path class="fill-warning" d="m1157.9 344.9c9.8 7.6 18.9 15.8 28.1 24 8.6 7.7 17.6 15.2 26 23.2 14.8 14.2 29.5 30.9 51.2 34.7 9.3 1.6 18.8 0.9 26.1-3.8 6.1-3.9 10.2-9.9 13.2-16.2 7.6-15.6 10.3-33.2 15.8-49.6 5.2-15.1 13.6-29 24.7-41.3 11.4-12.6 24.8-23.6 40-32.8 12.9-7.8 27.3-14.6 43.1-17.3 15.6-2.6 32.8-0.7 49 0.7 19.6 1.7 39.4 4 58.8 3.4 8.4-0.3 17-1.1 24.8-3.6 8.2-2.7 15.4-7.4 21.6-12.7 13.7-11.6 23.1-26.7 33.3-40.9 9.6-13.5 20.2-26.9 35.3-35.6 15.8-9.2 35.6-11.6 55.2-9.1 45.7 5.8 84.8 34.3 117.6 64.4 8.7 8 17.2 16.2 25.6 24.6 2.5 3.2 1.9 3-1.2 1-34.3-32-69.7-66.9-116.5-81.9-20.5-6.5-42.7-9.2-62.4-4-19.3 5.1-33.1 17.9-44.3 32.2-18.5 23.7-33.9 57.5-68.1 65.5-16.5 3.8-34.9 2.6-52.3 1.3-18.5-1.4-37-3.7-55.4-4.2-15.5-0.5-30.7 2.5-44.2 8.5-16.5 7.2-31.3 17.1-44.3 28.5-12.8 11.2-24.1 24.1-31.9 39-7.9 15.3-11.1 32.5-16.2 48.9-3.9 12.6-9 26.9-21.6 33.9-13.1 7.3-31.9 3.8-45.7-4.1-17.2-10-29.9-26.1-44.6-38.8"/>
              <path class="fill-warning" d="m1840.8 379c-8.8 40.3-167.8 79.9-300.2 45.3-42.5-11.1-91.4-32-138.7-11.6-38.7 16.7-55 66-90.8 67.4-25.1 1-48.6-20.3-58.1-39.8-31-63.3 50.7-179.9 155.7-208.1 50.4-13.5 97.3-3.2 116.1 1.6 36.3 9.3 328.6 87.4 316 145.2z"/>
              <path class="fill-success" d="M368.3,247.3C265.6,257.2,134,226,110.9,141.5C85,47.2,272.5-9.4,355.5-30.7s182.6-31.1,240.8-18.6    C677.6-31.8,671.5,53.9,627,102C582.6,150.2,470.9,237.5,368.3,247.3z"/>
            </svg>
          </figure>
          <!-- SVG shape END -->
          <div class="position-relative">
            <p class="text-white m-0 p-2">
              Profile information was successfully updated!
            </p>
          </div>
          <!-- Close button -->
          <button type="button" class="btn-close btn-close-danger opacity-9 p-3" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <div class="card mb-4 position-relative z-index-9">
          <!-- Cover image -->
          <div class="py-5 h-200 rounded" 
            style="background-image:url(https://sia.ru/files/Image/news/2020-05/394226/img_news_394226_id66938.jpg); background-position: center bottom; background-size: cover; background-repeat: no-repeat;">
          </div>
          <div class="card-body pt-3 pb-0">
            <div class="row d-flex justify-content-between">
              <!-- Avatar -->
              <div class="col-sm-12 col-md-auto text-center text-md-start">
                <div class="avatar avatar-xxl mt-n5">
                  {% if user.avatar %}
                  <img class="avatar-img rounded-circle border border-white border-3 shadow" 
                    src="{{ user.avatar.url }}" alt="">
                  {% else %}
                  <img class="avatar-img rounded-circle border border-white border-3 shadow" 
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyaPi_tMJhxOi8xnodVF9WJ6Kc8o4JaeHa9Sq4EogfMzZZIjHae43yZl04VA&s" alt="">
                  {% endif %}
                </div>
              </div>
              <!-- Profile info -->
              <div class="col-sm-12 col-md text-center text-md-start d-md-flex justify-content-between align-items-center">
                <div>
                  <h4 class="my-1">{{ user.full_name }}<i class="bi bi-patch-check-fill text-info small"></i></h4>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <i class="bi bi-person-fill me-1"></i> 
                      {{ user.job }}
                    </li>

                    <li class="list-inline-item">
                      <i class="bi bi-telephone-fill me-1"></i> 
                      +998{{ user.phone }}
                    </li>

                    <a href="{% url 'user:follow_info' user.id %}">
                      <li class="list-inline-item me-1">
                        <i class="bi bi-people-fill me-1"></i>
                        Followers({{ user.followers.all.count }})
                      </li>

                      <li class="list-inline-item me-1">
                        <i class="bi bi-people me-1"></i> 
                        Following({{ user.followings.all.count }})
                      </li>
                    </a>
                  </ul>
                  <p class="m-0"></p>
                </div>
                <!-- Links -->
                <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                  {% if not request.user.id == user.id %}
                  <a href="{% url 'user:follow' user.id %}" class="btn btn-primary-soft me-3">
                    {% if status %}
                    Unfollow
                    {% else %}
                    Follow
                    {% endif %}
                  </a>
                  {% endif %}
                  <!-- Card action START -->
                  <div class="dropdown ms-3">
                    <a class="text-secondary" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                      <!-- Dropdown Icon -->
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle fill="currentColor" cx="3" cy="12" r="2.5"></circle>
                        <circle fill="currentColor" opacity="0.5" cx="12" cy="12" r="2.5"></circle>
                        <circle fill="currentColor" opacity="0.3" cx="21" cy="12" r="2.5"></circle>
                      </svg>
                    </a>               
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                      <li><a class="dropdown-item" href="#"><i class="bi bi-share me-2 fw-icon"></i>Profilni ulashish!</a></li>
                      <li><a class="dropdown-item" href="#"><i class="bi bi-volume-mute me-2 fw-icon"></i>Bildirishnoma ovozini oʻchirish!</a></li>
                      <li><a class="dropdown-item text-danger" href="#"><i class="bi bi-slash-circle me-2 fw-icon"></i>Profilni o'chirish!</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#"><i class="bi bi-flag me-2 fw-icon"></i>Xato haqida xabar bering!</a></li>
                    </ul>
                  </div>
                  <!-- Card action END -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Profile info END -->
    </div>
    {% if request.user.id == user.id %}
    <div class="row g-4">
      <!-- Left sidebar START -->
      <div class="col-lg-7 col-xxl-8">
        <!-- Profile START -->
        <div class="card border mb-4">
          <div class="card-header border-bottom p-3">
            <h5 class="card-header-title mb-0">Profile</h5>
          </div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- Full name -->
              <div class="mb-3">
                <label class="form-label">Ism Familiya</label>
                <div class="input-group">
                  <input type="text" name="full_name" class="form-control" value="{{ user.full_name }}" placeholder="Ism va Familyangizni kiriting!">
                </div>
              </div>
              <!-- Phone -->
              <div class="mb-3">
                <label class="form-label">Telefon raqam.</label>
                <div class="input-group">
                  <input type="text" name="phone" class="form-control" value="{{ user.phone }}" placeholder="Telefon raqamingizni kiriting.">
                </div>
              </div>
              <!-- Profile picture -->
              <div class="mb-3">
                <label class="form-label">Profil rasmi</label>
                <!-- Avatar upload START -->
                <div class="d-flex align-items-center">
                  <div class="position-relative me-3">
                    <!-- Avatar preview -->
                    {% if user.avatar %}
                    <div class="avatar avatar-xl">
                      <img class="avatar-img rounded-circle border border-white border-3 shadow" 
                        src="{{ user.avatar.url }}" alt="">
                    </div>
                    {% else %}
                    <div class="avatar avatar-xl">
                      <img class="avatar-img rounded-circle border border-white border-3 shadow" 
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyaPi_tMJhxOi8xnodVF9WJ6Kc8o4JaeHa9Sq4EogfMzZZIjHae43yZl04VA&s" alt=""> 
                    </div>
                    {% endif %}
                  <!-- Avatar remove button -->
                  <div class="avatar-sellect">
                    <input type="file" id="imageInput" name="avatar" accept="image/*"/>
                  </div>
                </div>
                <!-- Avatar upload END -->
              </div>
              <!-- Job title -->
              <div class="mb-3 mt-2">
                <label class="form-label">Kasbi</label>
                <input class="form-control" type="text" name="job" value="{{ request.user.job }}" placeholder="Iltimos kasbingizni kiriting">
              </div>
              <!-- Bio -->
              <div class="mb-3">
                <label class="form-label">Bio</label>
                <textarea class="form-control" name="bio" rows="3">{{ user.bio }}</textarea>
                <div class="form-text">Profilingiz uchun qisqacha tavsif.</div> 
              </div>
              
              <div class="d-flex justify-content-end mt-4">
                <button type="submit" class="btn btn-primary">O'zgarishlarni saqlash</button>
              </div>
            </form>
          </div>
        </form>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</section>

{% endblock %}
