{% extends 'base.html' %}
{% block content %}

<section class="py-4">
  <div class="container">
    <div class="row g-4">
      <div class="col-12">
        <!-- Counter START -->
        <div class="row g-4">
          <!-- Counter item -->
          <div class="col-sm-6 col-lg-3">
            <div class="card card-body border p-3">
              <div class="d-flex align-items-center">
                <!-- Icon -->
                <div
                  class="icon-xl fs-1 bg-success bg-opacity-10 rounded-3 text-success"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <!-- Content -->
                <div class="ms-3">
                  <h3>134K</h3>
                  <h6 class="mb-0">Pageviews</h6>
                </div>
              </div>
            </div>
          </div>

          <!-- Counter item -->
          <div class="col-sm-6 col-lg-3">
            <div class="card card-body border p-3">
              <div class="d-flex align-items-center">
                <!-- Icon -->
                <div
                  class="icon-xl fs-1 bg-primary bg-opacity-10 rounded-3 text-primary"
                >
                  <i class="bi bi-file-earmark-text-fill"></i>
                </div>
                <!-- Content -->
                <div class="ms-3">
                  <h3>{{ posts_count }}</h3>
                  <h6 class="mb-0">Posts</h6>
                </div>
              </div>
            </div>
          </div>

          <!-- Counter item -->
          <div class="col-sm-6 col-lg-3">
            <div class="card card-body border p-3">
              <div class="d-flex align-items-center">
                <!-- Icon -->
                <div
                  class="icon-xl fs-1 bg-danger bg-opacity-10 rounded-3 text-danger"
                >
                  <i class="bi bi-suit-heart-fill"></i>
                </div>
                <!-- Content -->
                <div class="ms-3">
                  <h3>2150</h3>
                  <h6 class="mb-0">Likes</h6>
                </div>
              </div>
            </div>
          </div>

          <!-- Counter item -->
          <div class="col-sm-6 col-lg-3">
            <div class="card card-body border p-3">
              <div class="d-flex align-items-center">
                <!-- Icon -->
                <div
                  class="icon-xl fs-1 bg-info bg-opacity-10 rounded-3 text-info"
                >
                  <i class="bi bi-bar-chart-line-fill"></i>
                </div>
                <!-- Content -->
                <div class="ms-3">
                  <h3>84K</h3>
                  <h6 class="mb-0">Visitors</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Counter END -->
      </div>

      <div class="col-12">
        <!-- Blog list table START -->
        <div class="card border bg-transparent rounded-3">
          <!-- Card header START -->
          <div class="card-header bg-transparent border-bottom p-3">
            <div class="d-sm-flex justify-content-between align-items-center">
              <h5 class="mb-2 mb-sm-0">
                Blog list
                <span class="badge bg-primary bg-opacity-10 text-primary">
                  {{ posts_count }}
                </span>
              </h5>
              <a
                href="{% url 'blog:post_create' %}"
                class="btn btn-sm btn-primary mb-0"
              >
                Add New
              </a>
            </div>
          </div>
          <!-- Card header END -->

          <!-- Card body START -->
          <div class="card-body">
            
            <!-- Blog list table START -->
            <div class="table-responsive border-0">
              <table
                class="table align-middle p-4 mb-0 table-hover table-shrink"
              >
                <!-- Table head -->
                <thead class="table-dark">
                  <tr>
                    <th scope="col" class="border-0 rounded-start">
                      Blog Name
                    </th>
                    <th scope="col" class="border-0">Author Name</th>
                    <th scope="col" class="border-0">Published Date</th>
                    <th scope="col" class="border-0">Categories</th>
                    <th scope="col" class="border-0 rounded-end">Action</th>
                  </tr>
                </thead>

                <!-- Table body START -->
                <tbody class="border-top-0">
                  {% for post in posts %}
                  <tr>
                    <!-- Table data -->
                    <td>
                      <h6 class="course-title mt-2 mt-md-0 mb-0">
                        <a href="#"> {{ post.name|truncatewords:8 }} </a>
                      </h6>
                    </td>
                    <!-- Table data -->
                    <td>
                      <h6 class="mb-0">
                        <a href="#"> {{ post.author.full_name }} </a>
                      </h6>
                    </td>
                    <!-- Table data -->
                    <td>{{ post.created_at|timesince}}</td>
                    <!-- Table data -->
                    <td>
                      <a href="#" class="badge text-bg-warning mb-2"
                        ><i class="fas fa-circle me-2 small fw-bold"></i>
                        {{ post.category }}
                      </a>
                    </td>
                    <td>
                      <div class="d-flex gap-2">
                        <a
                          href="{% url 'blog:post_delate' post.id %}"
                          class="btn btn-light btn-round mb-0"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          aria-label="Delete"
                          data-bs-original-title="Delete"
                          ><i class="bi bi-trash"></i
                        ></a>
                        <a
                          href="{% url 'blog:post_update' post.id %}"
                          class="btn btn-light btn-round mb-0"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          aria-label="Edit"
                          data-bs-original-title="Edit"
                          ><i class="bi bi-pencil-square"></i
                        ></a>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                <!-- Table body END -->
              </table>
            </div>
            <!-- Blog list table END -->

            {% if posts.has_other_pages %}
            <div
              class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3"
            >
              <!-- Content -->
              <p class="mb-sm-0 text-center text-sm-start">
                Showing 1 to 8 of 20 entries
              </p>
              <!-- Pagination -->
              <nav
                class="mb-sm-0 d-flex justify-content-center"
                aria-label="navigation"
              >
                <ul class="pagination">
                  {% if posts.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page=1">Previous</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled"></li>
                  {% endif %} 

                  {% for i in posts.paginator.page_range %} 
                  {% if posts.number == i %}
                  <li class="page-item disabled">
                    <a class="page-link">{{ i }}</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                  </li>
                  {% endif %} 
                  {% endfor %} 
                </ul>
              </nav>
            </div>
            {% endif %}
          </div>
        </div>
        <!-- Blog list table END -->
      </div>
    </div>
  </div>
</section>

{% endblock %}
